body{
    background-color: wheat;
}
.all1{
    background: white;
    margin-left: 3%;
    margin-right: 3%;
   
} 
h1{
    font-size: 50px;
    font-family: t;
}
.test1{
    font-size: 20px;
    
}
.description{
    font-size: 20px;
    font-family: arial; 
}
.image5{
    margin-top: 10px;
}
.descriptio{
    font-size: 20px;
    font-family: arial;
   
}
.top{
    margin-bottom: 50px;
    margin-top: 0%
}
.p1{

background: #aaa;
padding: 10px;
margin-left: 70%;

position: relative;
background-position: right;
}

.p1::before{
    content: "";
    height: 100%;
    width: 5px;
    background: aqua;
    position: absolute;
    right: 0px;
    top: 0px;
   
}

.game{
    
    
 
    font-size: 30px;
}

.dwonload{
    
    padding-top: 20px;
    
}
.link{
   
background: #aaa;
padding: 10px;

margin-left: 70%;

position: relative;
background-position: right;
}

.link::before{
    content: "";
    height: 100%;
    width: 5px;
    background: aqua;
    position: absolute;
    right: 0px;
    top: 0px;
   
}
